*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/java/com/example/popularmovies/Constants.java
/app/src/main/res/drawable/dummy1.jpg
/app/src/main/res/drawable/dummy2.jpg